<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>
    <style>
        *{
            margin: 0;
            padding: 0;
            font-family: sans-serif;
        }
        .banner{
            width: 100%;
            height: 100vh;
            /* background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url("/pexels-atbo-66986-245240.jpg"); */
            background-size: cover;
            background-position: center;
        }
        .navbar{
            width: 85%;
            margin: auto;
            padding: 35px 0;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }   
        .logo img{
            width: 120px;
            cursor: pointer;
        }
        .navbar ul li{
            list-style: none;
            display: inline-block;
            margin: 0 20px;
            position: relative;
        }
        .navbar ul li a{
            text-decoration: none;
            color: #fff;
            text-transform: uppercase;
            transform: 0.2s;
            border-bottom: 4px solid transparent;
            color: black;
        }
        .navbar ul li a:hover{
            border-bottom: 4px solid black;
        }
        nav ul li::after{
            content: '';
            height: 3px;
            width: 0;
            background: #009688;
            position: absolute;
            left: 0;
            bottom: -10px;
            transition: 0.5s;
        }
        .navbar ul li:hover::after{
            width: 100%;
        }
        .content{
            width: 100%;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            text-align: center;
            color: #fff;
        }
        .content h1{
            font-size: 70px;
            margin-top: 80px;
            color: red;
        }
        .content p{
            margin: 20px auto;
            font-weight: 100;
            line-height: 25px;
            color: black;
        }
        button{
            width: 200px;
            text-align: center;
            margin: 20px 10px;
            border-radius: 25px;
            font-weight: bold;
            border: 2px solid black;
            background: transparent;
            color: #fff;
            padding: 15px 0;
            cursor: pointer;
            position: relative;
            overflow: hidden;
        }
        span{
            background: black;
            height: 100%;
            width: 0%;
            border-radius: 25px;
            position: absolute;
            left: 0;
            bottom: 0;
            z-index: -1;
            transition: 0.5s;
        }
        button:hover span{
            width: 100%;
        }
        button:hover{
            border: none;
        }
    </style>
</head>
<body>
    <div class="banner">
        <div class="navbar">
            <img src="/logo2.png.webp" alt="logo" width="50px" height="50px" style="border-radius: 50%;">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Companies</a></li>
                <li><a href="#">CVes</a></li>
                <li><a href="#">Profile</a></li>
            </ul>
        </div>
        <div class="content">
            <h1>Work</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing 
                elit. <br>A quia cum voluptatibus! Eveniet, dicta numquam.</p>
            <div>
                <button  type="button"><a style="text-decoration: none;" href="/users/login"><span></span>Ishga kirish </a></button>
                <button  type="button"><a style="text-decoration: none;" href=""><span></span>Ishchi qidirish </a></button>
            </div>
        </div>
        
    </div>
</body>
</html>